@using System;
@using System.Text;
@using DotNetNuke.Framework.JavaScriptLibraries;
@inherits Satrabel.OpenContent.Components.OpenContentWebPage
@{

        RegisterScript("html-contents.js");
    var mid = "ocxt-Article" + Dnn.Module.ModuleID.ToString();
    
    //    RegisterScript("https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js");
   // RegisterStyleSheet("https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css");
  //JavaScript.RequestRegistration("GLightbox", new Version(03, 00, 09));
  //RegisterStyleSheet("/Resources/libraries/GLightbox/03_00_09/glightbox.min.css");

    // register only puts at top
    // RegisterScript("template.js");

    // get fig template
    //0 fig
    //1 title
    //2 image
    //3 caption
    //4 screen reader
    var fgtpl = @"
<div>
<figure class='mx-auto ocxt-fig figure'>
    <h4 class='mx-auto' ><b>Figure {0}:</b> {1}</h4>
    <p><a href='{2}' class='ocxt-glightbox'>
        <img class='mx-auto img-fluid figure-img' src='{2}' alt='' />
        </a>
    </p>
    <figcaption class='figure-caption text-left ocxt-caption'>{3}</figcaption> 
    <div class='sr-only sr-only-focusable'>{4}</div>   
</figure>
</div>   "; // end fgtpl

    // get Callout template
    //0 color -- needs to match style
    //1 body
    var cotpl = @"
<div class='mx-auto alert alert-secondary ocxt-callout ocxt-callout-{0}'
 style='max-width: 40rem;font-weight: 600 !important;' >
    {1}
</div>   "; // end cotpl

    //get article
    StringBuilder article = new StringBuilder(Model.body);

    // get download path
    string dwn = Model.dwn;

    // process Figs
    foreach(var fg in Model.figs){
        var fgxp = String.Format("<p>[[fig{0}]]</p>",fg.fig);        
        var fgx = String.Format("[[fig{0}]]",fg.fig);
        var rpl = String.Format(fgtpl,fg.fig,fg.title,fg.image,fg.caption,fg.scr);
        article.Replace(fgxp,rpl);
        article.Replace(fgx,rpl);
    }

    // process Callouts
    foreach(var co in Model.cos){
        var coxp= String.Format("<p>[[co{0}]]</p>",co.coref);
        var cox = String.Format("[[co{0}]]",co.coref);
        var rpl = String.Format(cotpl,co.color,co.cobody);
        article.Replace(coxp,rpl);
        article.Replace(cox,rpl);
    }
// end code
}

<style>

</style>

 @if ( @Model.showTitle){<h1 class="ocxt-title">@Model.title </h1>}

<div class="ocxt-article mx-auto" >
    <div id="@mid">
    @article
    </div>

    @if ( @Model.showToc){
        <div class="ocxt-toc-sticky">
            <span class="ocxt-toc-show">
                <a class="btn btn-dark btn-sm ocxt-toc-show" href="#" role="button" title="Table of Contents">TOC</a>
            </span>
            <div class="card bg-light">
                <div class="card-header">
                    <span >Table of Contents</span>
                    
                </div>
                <div  class="card-body">
                    <div class="ocxt-article-toc "></div>
                    @if (!string.IsNullOrEmpty(dwn)){
                        <p class="ocxt-dwn text-right">
                            <a href="@dwn" target="_blank" class="btn btn-secondary btn-sm">Download a copy <i class="fa fa-download" aria-hidden="true"></i></a>
                        </p>
                    }
                    <p class="ocxt-toc-hide">
                    <a class="btn btn-dark btn-sm float-right ocxt-toc-hide" href="#" role="button" title="Hide table of content">Hide <i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </p>
                </div>

            </div>
        </div>
    }

</div>



@* @ObjectInfo.Print(Model) *@

<script>
  $('div.ocxt-article a').attr("rel","noopener noreferrer").click(function(){this.target = "_blank";    });



    document.addEventListener("DOMContentLoaded", function(event) {
        htmlContents('.ocxt-article-toc', {
            top: 2,         // 1-6: biggest header to include in outline
            bottom: @Model.btmLevel,      // 1-6: smallest header to include in outline
            addIds: true,   // true/false: add ids to H* that don't have them
            addLinks: true, //true/false: add links to outline? 
            listType: 'u',  // 'u' or 'o': (u)nordered or (o)rdered list type
            articleId: '@mid'
        })
    });


    $('.ocxt-toc-show').click(function (event) {
        event.preventDefault();
        $('.ocxt-toc-sticky .card').show();
        $('.ocxt-toc-show').hide();
        return false;
    });

    $('.ocxt-toc-hide').click(function (event) {
        console.log("hit hide");
        event.preventDefault();
        $('.ocxt-toc-sticky .card').hide();
        $('.ocxt-toc-show').show();
        return false;
    });

</script>